.txt-orange {
    color: orangered;
}

.subtitulo {
    font-size: large;
    font-weight: bolder;
}

input[type="text"] {
    border-color: whitesmoke;
    background-color: greenyellow;
    margin-bottom: 10px;
    width: 150px;
}